<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.raingoddess.lapclient">

    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/rain"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".main.Main">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".main.SendInputToHost"
            android:label="@string/title_activity_display_message"
            android:parentActivityName=".main.Main" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".main.Main" />
        </activity>

        <activity
            android:name=".main.ViewChampionStat"
            android:label="View Match"
            android:parentActivityName=".main.SendInputToHost" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".main.SendInputToHost" />
        </activity>

        <activity
            android:name=".main.ViewMatch"
            android:label="View Match"
            android:parentActivityName=".main.SendInputToHost" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".main.SendInputToHost" />
        </activity>

        <activity
            android:name=".main.Feedback"
            android:label="Send Feedback"
            android:parentActivityName=".main.Main" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".main.Main" />
        </activity>
    </application>

</manifest>